@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";
@theme {
  /* Disable some TW styles */
  --color-*: initial;
  --spacing-*: initial;
  --text-*: initial;

  /* Background colors */
  --color-pag-bg-primary: #0b0f14;
  --color-pag-bg-secondary: #172033;
  --color-pag-bg-tertiary: #111827;
  --color-pag-bg-success: #1e9c04;
  --color-pag-bg-success-light: #1e9c041a;
  --color-pag-bg-error: #dc2626;
  --color-pag-bg-error-light: #dc26261a;
  --color-pag-bg-accent: #003cbe;
  --color-pag-bg-accent-light: #3961b6;
  --color-pag-bg-tag-flex: #38bdf814;
  --color-pag-bg-tag-short: #14b8a614;
  --color-pag-bg-tag-playercount: #3b82f61a;
  --color-pag-bg-tag-downvotecount: #ef44441a;
  --color-pag-bg-tag-long: #a78bfa14;
  --color-pag-bg-tag-interested: #22c55e14;
  --color-pag-bg-tag-not-interested: #ef444414;

  /* Borders colors */
  --color-pag-border-primary: #1f2937;
  --color-pag-border-secondary: #334155;
  --color-pag-border-success: #2cc00d;
  --color-pag-border-success-light: #2cc00d80;
  --color-pag-border-error: #cd1212;
  --color-pag-border-error-light: #cd121280;
  --color-pag-border-tag: #10598d;
  --color-pag-border-tag-not-interested: #ef444466;
  --color-pag-border-tag-short: #14b8a680;
  --color-pag-border-tag-playercount: #3b82f666;
  --color-pag-border-tag-downvotecount: #ef444466;
  --color-pag-border-tag-long: #a78bfa80;
  --color-pag-border-tag-flex: #38bdf880;
  --color-pag-border-tag-interested: #22c55e66;

  /* Text colors */
  --color-pag-text-primary: #e6edf7;
  --color-pag-text-muted: #a6b1c2;
  --color-pag-text-success: #3cc720;
  --color-pag-text-error: #cd1b1b;
  --color-pag-text-tag-short: #5eead4;
  --color-pag-text-tag-playercount: #93c5fd;
  --color-pag-text-tag-downvotecount: #fca5a5;
  --color-pag-text-tag-long: #c4b5fd;
  --color-pag-text-tag-flex: #7dd3fc;
  --color-pag-text-tag-interested: #86efac;
  --color-pag-text-tag-not-interested: #fca5a5;

  /* Scrollbar colors */
  --color-pag-scrollbar-track: #111827;
  --color-pag-scrollbar-thumb: #243244;

  /* Icons colors */
  --color-pag-icon-primary: #e6edf7;
  --color-pag-icon-primary-hover: #a6b1c2;
  --color-pag-icon-success: #1e9c04;
  --color-pag-icon-success-hover: #1e9c0480;
  --color-pag-icon-error: #dc2626;
  --color-pag-icon-tag-interested: #22c55e;
  --color-pag-icon-error-disabled: #d45656;
  --color-pag-icon-stat: #76c6ff;
  --color-pag-icon-award: #ddc40b;

  /* Rounding */
  --radius-pag-sm: 8px;
  --radius-pag-main: 16px;
  --radius-pag-full: 9999px;

  /* Spacing */
  --spacing-pag-spacing-1: 1px;
  --spacing-pag-spacing-25: 2px;
  --spacing-pag-spacing-50: 4px;
  --spacing-pag-spacing-75: 6px;
  --spacing-pag-spacing-100: 8px;
  --spacing-pag-spacing-125: 10px;
  --spacing-pag-spacing-150: 12px;
  --spacing-pag-spacing-200: 16px;
  --spacing-pag-spacing-300: 24px;
  --spacing-pag-spacing-400: 32px;
  --spacing-pag-spacing-500: 40px;
  --spacing-pag-spacing-600: 48px;
  --spacing-pag-spacing-800: 64px;
  --spacing-pag-typo-size-h1: 32px;
  --spacing-pag-typo-size-h2: 20px;
  --spacing-pag-typo-size-h3: 18px;

  /* Sizing */
  --spacing-pag-sizing-1: 1px;
  --spacing-pag-sizing-25: 2px;
  --spacing-pag-sizing-50: 4px;
  --spacing-pag-sizing-75: 6px;
  --spacing-pag-sizing-100: 8px;
  --spacing-pag-sizing-150: 12px;
  --spacing-pag-sizing-200: 16px;
  --spacing-pag-sizing-300: 24px;
  --spacing-pag-sizing-400: 32px;
  --spacing-pag-sizing-500: 40px;
  --spacing-pag-sizing-600: 48px;
  --spacing-pag-sizing-800: 64px;

  /* Font family */
  --font-family-pag-default: "Quicksand", sans-serif;

  /* Font sizes */
  --text-pag-xs: 12px;
  --text-pag-sm: 14px;
  --text-pag-md: 16px;
  --text-pag-lg: 18px;
  --text-pag-xl: 20px;
  --text-pag-2xl: 32px;
}

:root {
  @apply bg-pag-bg-primary text-pag-text-primary font-family-pag-default;
}

@utility styled-scrollbar {
  @apply [&::-webkit-scrollbar]:w-pag-sizing-50 [&::-webkit-scrollbar-thumb]:rounded-pag-full [&::-webkit-scrollbar-thumb]:bg-pag-scrollbar-thumb [&::-webkit-scrollbar-track]:rounded-pag-full [&::-webkit-scrollbar-track]:bg-pag-scrollbar-track;
}
